@page "/"
@using BlazorBootstrap;
@using MudBlazor;

<div class="row no-gutters">
    <div class="col">
        <Card>
            <CardBody>
                <CardTitle Style="text-align:center" Class="card-title">
                    Fleet Status
                </CardTitle>
                <MudChart ChartType="MudBlazor.ChartType.Donut" ChartOptions="chartColors" InputData="@data" InputLabels="@labels">
                    <CustomGraphics>
                        <text class="donut-inner-text" x="50%" y="40%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="3">Available Trucks</text>
                        <text class="donut-inner-text" x="50%" y="54%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="5">@availableTrucks</text>
                    </CustomGraphics>
                </MudChart>
            </CardBody>
        </Card>
    </div>
    <div class="col-8">
        <div class="card">
            <h1>Test</h1>
        </div>
    </div>
</div>



    Welcome to your new app.🚛
@code {
    private double[] data = { (100 / 25) * 12, (100 / 25) * 8, (100 / 25) * 4 };
    private string[] labels = { "Available", "Dispatched", "Need Maintenace" };

    private int availableTrucks = 12;

    MudBlazor.ChartOptions chartColors = new()
        {
            ChartPalette = new string[] { "#009112", "#cc9801", "#e20000" }
        };
}
