@page "/"
@using BlazorBootstrap;

<h1>Hello, world!</h1>

<div class="row no-gutters">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h1 class="align-content-center">
                    Trucks
                </h1>
                <DoughnutChart @ref="doughnutChart"/>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <h1>Test</h1>
        </div>
    </div>
</div>



    Welcome to your new app.🚛
@code {
    private DoughnutChart doughnutChart = default!;
    private DoughnutChartOptions doughnutChartOptions = default!;
    private ChartData chartData = default!;
    private string[]? backgroundColors;
}
